body{
	font-size:16px;
}

.mb30{
	margin-top:30px;
	margin-bottom:30px;
}
.mb60{
	margin-top:60px;
	margin-bottom:60px;
}
.mb80{
	margin-top:80px;
	margin-bottom:80px;
}
.loading{
	display: none;
}
.panel-body{
	padding:15px 5px;
}
.navbar-toggle {
	border-color:#fff;
}
.navbar-ads{
	border-radius:0;
	margin-bottom:0;
}
.navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-ads{
	background-color: #2c3e50;
	color:#fff;
}
.navbar-ads a{
	color:#fff;
}
.navbar-ads a:hover{
	color: #2c3e50;
}
.navbar-ads li i{
	margin-right:8px;
	font-size:16px;
}
.dropdown-menu{
	font-size:16px;
}
.breadcrumb{
	padding:20px 0;
}


.painel-widget{
	width:100%;
	border-radius:20px;
	background:#eee;
	display: block;
	margin-bottom:20px;
}
.pw-head{
	font-size:14px;
	font-weight: 900;
	color:#333;
	padding:10px 0 5px 40px;
}
.pw-icone{
	padding:20px 40px;
	font-size:8px;
	display: inline-block;
}
.pw-resultado{
	font-size:26px;
	text-align: right;
	padding:20px 40px;
}
#cronometro{
    font-size:12px;
}

.recebedor i{
	font-size:40px;
}
.vlrrecebedor{
	font-size:40px;
}
.downline{
	border:1px solid #ddd;
	background:#eee;
	margin:20px;
	padding:20px;
	border-radius:10px;
}
.pd-menu-icon{
    padding:20px 20px;
}


.super-user{
    position:fixed;
	bottom:8%;
	right:-180px;
	width:180px;
	height:200px;
	z-index:99999;
	background: #fff;
}
.labelsuperuser{
	width: 220px;
	max-width: 220px;
	padding:10px;
	font-size:12px;
	color:#fff;
	background:grey;
	transform: rotate(-90deg);
	position:absolute;
	left:-130px;
	top:0;
	margin-top: 50%;
	text-align: center;
}
.super-user:hover {
	right:0;
}


.tree-responsive{
    clear: both;
    overflow:hidden;
}

#draggable{
    width:100%;
    min-width:10000000000000px;
}
.tree{
    position:relative;
    padding:80px 0;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    clear:both;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 2px 0 2px;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.tree li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0; left:-5px;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

.tree li a{
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8 !important; color: #000 !important;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}

.avatar-frame{
    border: 2px solid #c7b89e;
    text-align: center;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%; /* Saf3+, Chrome */
    border-radius: 50%; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
    margin-left:auto;
    margin-right: auto;
    margin-bottom:5px;
}
.avatar-frame img{
    -webkit-border-radius: 50%; /* Saf3+, Chrome */
    border-radius: 50%; /* Opera 10.5, IE 9 */
}

.sweet-alert h2{
    font-size:20px !important;
    margin: 10px 0 !important;
    line-height: 20px !important;
}

.sweet-alert button{
    font-size:13px !important;
    padding: 8px 30px !important;
}

.login-facebook{
    width:280px;
    margin-left: auto;
    margin-right: auto;
}

/*  DIVULGADOR */

a#sign_in {
    background-color: #0B62B3;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 12px;
    padding-left: 45px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
a#sign_in i {
    position: absolute;
    font-size: 24px;
    top: 12px;
    left: 20px;
}